.myAccount-Div{
    margin: 50px auto;
    max-width: 1200px;
}
.myAccountManue{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding: 10px;
}
.myAccountManue li{
    cursor: pointer;
    list-style-type: none;
    text-align: center;
}
.myAccountManue-Div{
    background-color: antiquewhite;
}
h4 {
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
}
.address {
    width: 50%;
}
.address-Div {
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10%;
}
.address-Div label{
    width: 100%;
}
.Address_input {
    width: 100%;
}